:root {

    --cor-cinza-claro: #e4e4e4;
    --cor-cinza-escuro: #474747;
    /* Cinza Escuro */
    --cor-bege-claro: #F9F9F7;
    /* Bege Claro */
    --cor-vermelho: #AD343E;
    /* Vermelho */
    --cor-bege: #DBDFD0;
    /* Bege */
    --cor-verde-claro: #B7D5AC;
    /* Verde Claro */
    --cor-bege-suave: #DBEAD5;
    /* Bege Suave */
    --cor-verde: #6EAA5E;
    /* Verde */

}